* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-thin {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.text-regular {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-medium {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text-semi-bold {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.text-bold {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

/* index.html */
/* slot-chat */
.text-slot-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.text-slot-item {
  font-size: 32px;
  color: #000;
  text-align: center;
}

.text-slot-item:nth-child(2) {
  font-size: 64px;
  font-weight: 700;
}

.text-slot-item:nth-child(1),
.text-slot-item:nth-child(3) {
  font-size: 40px;
  opacity: 0.4;
}

/* primary-button */
.primary-button {
  height: 38px;
  color: #bbb;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  border: 0;
  border-radius: 6px;
  padding: 0 21px;
  cursor: pointer;
  transition: all 0.1s;
}

.primary-button:hover {
  color: #fff;
  background-color: #000;
}

.primary-button:active {
  background-color: #333;
}

/* text-container */
.infinite-text {
  font-weight: 800;
  color: #e8e8e8;
  font-size: 40px;
}

.typed-cursor {
  color: #000;
  font-size: 40px;
}
