<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/common.css') }}"
    />
    <title>정글버즈</title>
  </head>
  <body class="text-regular">
    <button class="primary-button">로그인</button>

    <div class="text-slot-list">
      <p class="text-slot-item">오늘은 정말 아무것도 하기 싫은 날이다.</p>
      <p class="text-slot-item">왜 세상은 항상 이렇게 돌아가는 걸까?</p>
      <p class="text-slot-item">
        지하철에서 누가 내 발을 밟고도 사과를 안 했어.
      </p>
    </div>

    <!-- jQuery and Bootstrap Bundle -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
