{% extends "base.html" %} {% block content %} {% include "login-popup.html" %}
{% include "register-popup.html" %}

<div class="auth-button-container">
  <span></span>
  <div class="auth-button-container-right">
    <button class="primary-button" style="display: none">내 버즈</button>
    <button class="primary-button" onclick="openPopup('login')">로그인</button>
  </div>
</div>

<div class="container">
  <div class="text-slot-list">
    <p class="text-slot-item">오늘은 정말 아무것도 하기 싫은 날이다.</p>
    <p class="text-slot-item">왜 세상은 항상 이렇게 돌아가는 걸까?</p>
    <p class="text-slot-item">지하철에서 누가 내 발을 밟고도 사과를 안 했어.</p>
  </div>

  <div class="text-container">
    <input type="text" class="text-input" />
  </div>
</div>

{% endblock content %}
