{% extends "base.html" %} {% block content %}

<div class="auth-button-container">
  <button class="primary-button">뒤로가기</button>
  <div class="auth-button-container-right">
    <button class="primary-button" style="display: none">내 버즈</button>
    <button class="primary-button">로그인</button>
  </div>
</div>

<div class="my-info-container">
  <div class="my-info-wrapper">
    <div class="misc">김민규</div>
    <div class="misc">dev@suinkim.me</div>
    <div class="misc">2025년 5월 가입함</div>
  </div>
</div>

{% endblock content %}
